<%- include('../../partials/titles', { title: title, botones: botones }) %>
<%- include('../../partials/messages') %>

<section class="content">
  <div class="card">
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="tour-tab" data-toggle="tab" href="#tour" role="tab" aria-controls="tour" aria-selected="true">Tour</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="detalles-tab" data-toggle="tab" href="#detalles" role="tab" aria-controls="detalles" aria-selected="false">Detalles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="itinerario-tab" data-toggle="tab" href="#itinerario" role="tab" aria-controls="detalles" aria-selected="false">Itinerario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="galeria-tab" data-toggle="tab" href="#galeria" role="tab" aria-controls="galeria" aria-selected="false">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="recomenda-tab" data-toggle="tab" href="#recomenda" role="tab" aria-controls="recomenda" aria-selected="false">Recomendaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="puntos-tab" data-toggle="tab" href="#puntos" role="tab" aria-controls="puntos" aria-selected="false">Puntos de encuentro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="politicas-tab" data-toggle="tab" href="#politicas" role="tab" aria-controls="politicas" aria-selected="false">Políticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="precio_privado-tab" data-toggle="tab" href="#precio_privado" role="tab" aria-controls="precio_privado" aria-selected="false">Precio Privado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="fechas-tab" data-toggle="tab" href="#fechas" role="tab" aria-controls="fechas" aria-selected="false">Fechas disponibles</a>
        </li>
      </ul>
      <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="tour" role="tabpanel" aria-labelledby="tour-tab">
           <%- include('../../partials/tour/form_general') %>
        </div>
        <div class="tab-pane fade" id="detalles" role="tabpanel" aria-labelledby="detalles-tab">
          <%- include('../../partials/tour/form_detalles') %>
        </div>
        <div class="tab-pane fade" id="itinerario" role="tabpanel" aria-labelledby="itinerario-tab">
          <%- include('../../partials/tour/form_itinerario') %>
        </div>
        <div class="tab-pane fade" id="galeria" role="tabpanel" aria-labelledby="galeria-tab">
          <%- include('../../partials/tour/form_galeria') %>
        </div>
        <div class="tab-pane fade" id="recomenda" role="tabpanel" aria-labelledby="recomenda-tab">
          <%- include('../../partials/tour/form_recomendaciones') %>
        </div>
        <div class="tab-pane fade" id="puntos" role="tabpanel" aria-labelledby="puntos-tab">
          <%- include('../../partials/tour/form_puntos_encuentro') %>
        </div>
        <div class="tab-pane fade" id="politicas" role="tabpanel" aria-labelledby="politicas-tab">
          <%- include('../../partials/tour/form_politicas') %>
        </div>
        <div class="tab-pane fade" id="precio_privado" role="tabpanel" aria-labelledby="precio_privado-tab">
          <%- include('../../partials/tour/form_precio_privado') %>
        </div>
        <div class="tab-pane fade" id="fechas" role="tabpanel" aria-labelledby="fechas-tab">
          <%- include('../../partials/tour/form_fechas') %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // Actualizar nombre del archivo en input file (de tu form Tour)
  document.addEventListener('DOMContentLoaded', function () {
    const fileInputs = document.querySelectorAll('.custom-file-input');
    fileInputs.forEach(input => {
      input.addEventListener('change', function () {
        const fileName = this.files[0]?.name || 'Selecciona una imagen';
        this.nextElementSibling.innerText = fileName;
      });
    });
  });

  // Opcional: Inicializar tabs manualmente (si fuera necesario)
  /*$(function () {
    $('#myTab a').on('click', function (e) {
      e.preventDefault();
      $(this).tab('show');
    });
  });*/

  // Activar pestaña según el hash de la URL
    const hash = window.location.hash;
    if (hash) {
      const tabLink = document.querySelector(`#myTab a[href="${hash}"]`);
      if (tabLink) {
        new bootstrap.Tab(tabLink).show();
      }
    }

    // Al hacer clic en una pestaña, actualizar el hash en la URL
    const tabLinks = document.querySelectorAll('#myTab a[data-toggle="tab"]');
    tabLinks.forEach(tab => {
      tab.addEventListener('shown.bs.tab', function (e) {
        history.replaceState(null, null, e.target.getAttribute('href'));
      });
    });
</script>
